<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
  <main>
    <h1>Author List</h1>

  <div class="author-list">
    {{#each authors}}
      <div class="author-card">
        <h2>{{aname}}</h2>
        <p><strong>Born:</strong> {{abirth}}</p>
        <p><strong>Nationality:</strong> {{anation}}</p>
        <img src="{{aimg}}" alt="{{aname}}" style="width:150px;">
      </div>
    {{/each}}
  </div>
    </main>
</body>
</html>