<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie</title>
  </head>
  <body>
    <main>
    <div id="principal">
      <h1>{{movie.mtitle}}</h1>
      <div class="mytextcard">
        <div class="moviecard">
          <div class="divimage">
            <img
              src="/{{movie.murl}}"
              alt="{{movie.mtitle}}"
              class="bigimage"
            />
          </div>
          <div class="movieinfo">
            {{movie.mtype}}
            ||
            {{movie.myear}}
            <br />
            {{movie.mdesc}}
          </div>
        </div>
      </div>
    </div>
    </main>

  </body>
</html>