<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Movie List</h1>

  <div class="movie-list">
    {{#each movies}}
      <div class="movie-card">
        <h2><a href="/movies/{{mid}}">{{mtitle}}</a></h2>
        <p>Genre: {{mtype}}</p>
        <p>Year: {{myear}}</p>
        <p>{{mdesc}}</p>
        <img src="{{murl}}" alt="Movie Image" style="width:200px;">
      </div>
    {{/each}}
  </div>
</body>
</html>